@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
}

.btn {
  @apply bg-[--main-color] text-white px-4 py-2 rounded-sm;
}
:root {
  --text-color: white;
  --main-color: #7947fe;

}


